apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "repl-service.fullname" . }}
  labels:
    {{- include "repl-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "repl-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "repl-service.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      initContainers:
        - name: copy-s3-resources
          image: amazon/aws-cli
          command: ["/bin/sh", "-c"]
          args:
            - |
              aws s3 cp s3://madhav-replit-616298762254-eu-north-1/code/{{ .Release.Name }} /workspace --recursive
          envFrom:
            - secretRef:
                name: aws-creds
            - configMapRef:
                name: {{ include "repl-service.fullname" . }}
          volumeMounts:
            - name: workspace
              mountPath: /workspace

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - secretRef:
                name: aws-creds
            - configMapRef:
                name: {{ include "repl-service.fullname" . }}
          ports:
            {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .targetPort }}
            {{- end }}
          volumeMounts:
            - name: workspace
              mountPath: /workspace

      volumes:
        - name: workspace
          emptyDir: {}
